.navbar{
    display: flex;
    flex-direction: column;
    gap: 7.5em;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background-color: #333;
    color: #fff;
   
}
.hamburgerNavbar{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
.link_items {
    display: flex;
  
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    gap: 10em;
    list-style: none;
    
        
}
.link_items a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: .4s;
    border-bottom: 2px solid transparent;
    border-bottom: solid 1px red;
    font-size: 1.2em;
   
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logo h1{
    margin-left: .5em;
}

.icon {
    font-size: 1.8em;
    cursor: pointer;
 }